<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="D3Hot.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v2.0.50727"/></startup><userSettings>
        <D3Hot.Properties.Settings>
            <setting name="cb_trig_tmr1" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="cb_trig_tmr2" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="cb_trig_tmr3" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="cb_trig_tmr4" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="cb_key1" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="cb_key2" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="cb_key3" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="cb_key4" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="nud_tmr1" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="nud_tmr2" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="nud_tmr3" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="nud_tmr4" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="cb_prog" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="cb_pause" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="lb_lang" serializeAs="String">
                <value />
            </setting>
            <setting name="prof_curr" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="cb_trig_tmr5" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="cb_trig_tmr6" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="cb_key5" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="cb_key6" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="nud_tmr5" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="nud_tmr6" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="cb_startstop" serializeAs="String">
                <value>11</value>
            </setting>
            <setting name="cb_tp" serializeAs="String">
                <value>T</value>
            </setting>
            <setting name="cb_tpdelay" serializeAs="String">
                <value>7</value>
            </setting>
            <setting name="chb_tray" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="chb_mult" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="cb_key_delay" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="nud_key_delay_ms" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="chb_key1" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="chb_key2" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="chb_key3" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="chb_key4" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="chb_key5" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="chb_key6" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="chb_hold" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="chb_mpress" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="chb_saveload" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="nud_rand" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="cb_hot_prof" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="tb_prof_name" serializeAs="String">
                <value />
            </setting>
            <setting name="profile1" serializeAs="String">
                <value>Profile 1</value>
            </setting>
            <setting name="profile2" serializeAs="String">
                <value>Profile 2</value>
            </setting>
            <setting name="profile3" serializeAs="String">
                <value>Profile 3</value>
            </setting>
            <setting name="cb_map" serializeAs="String">
                <value>M</value>
            </setting>
            <setting name="cb_mapdelay" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="chb_users" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="chb_proconly" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="cb_key1_desc" serializeAs="String">
                <value />
            </setting>
            <setting name="cb_key2_desc" serializeAs="String">
                <value />
            </setting>
            <setting name="cb_key3_desc" serializeAs="String">
                <value />
            </setting>
            <setting name="cb_key4_desc" serializeAs="String">
                <value />
            </setting>
            <setting name="cb_key5_desc" serializeAs="String">
                <value />
            </setting>
            <setting name="cb_key6_desc" serializeAs="String">
                <value />
            </setting>
            <setting name="cb_tp_desc" serializeAs="String">
                <value />
            </setting>
            <setting name="cb_map_desc" serializeAs="String">
                <value />
            </setting>
            <setting name="cb_key_delay_desc" serializeAs="String">
                <value />
            </setting>
            <setting name="chb_ver_check" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="pos_x" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="pos_y" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="cb_returndelay" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="cb_tmr1" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="cb_tmr2" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="cb_tmr3" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="cb_tmr4" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="cb_tmr5" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="cb_tmr6" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="profile4" serializeAs="String">
                <value>Profile 4</value>
            </setting>
            <setting name="profile5" serializeAs="String">
                <value>Profile 5</value>
            </setting>
            <setting name="profile6" serializeAs="String">
                <value>Profile 6</value>
            </setting>
        </D3Hot.Properties.Settings>
    </userSettings>
</configuration>
